*,
::before,
::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
  tab-size: 4; /* 3 */
}

body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo,
    monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
select {
  text-transform: none;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px; /* 2 */
}

::-webkit-file-upload-button {
  font: inherit; /* 2 */
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.filter-button,
.hero--button,
.modal-btn-submit,
.subscription-btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section-title {
  margin-bottom: 30px;
  color: #212121;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.6;
  }
}

.title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  color: #2196f3;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo-black {
  color: #212121;
}
.logo-white {
  color: #ffffff;
}

.site-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .site-nav {
    margin-right: auto;
  }
}
.site-nav .site-nav-list {
  display: flex;
  gap: 50px;
}
.site-nav-link.link {
  position: relative;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: #2196f3;
}
.site-nav-link.current {
  color: #2196f3;
}
.site-nav-link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.contact {
  display: none;
}
@media screen and (min-width: 768px) {
  .contact {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    gap: 50px;
  }
}
.contact-item {
  align-items: center;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.contact-link {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .contact-link {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}
.contact-icon {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-icon-envelope {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contact-icon-smartphone {
    width: 10px;
    height: 14px;
  }
}
.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}

.social {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.client-item {
  width: calc((100% - 30px) / 2);
  height: 92px;
}
@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client-item {
    width: calc((100% - 150px) / 6);
  }
}
.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover,
.client-link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 470px) and (max-width: 767px) {
  .filter {
    gap: 11px;
  }
}
@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .filter-item {
    margin-bottom: 15px;
  }
}
.filter-button {
  padding: 6px 22px;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.03em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.filter-button.current {
  background-color: #2196f3;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .project {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .project-item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .project-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project-item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
.project-link {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-thumb {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-link:hover .project-overlay,
.project-link:focus .project-overlay {
  transform: translateY(0);
}
.project-text {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}
.project-description {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: transparent;
  background-color: #ffffff;
}
.project-title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  font-size: 16px;
  line-height: 1.8;
  color: #757575;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-flex {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-call-to-action {
  margin-bottom: 20px;
  font-weight: 700;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer-call-to-action {
    text-align: start;
  }
}
@media screen and (max-width: 1199px) {
  .footer-address {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address {
    text-align: left;
  }
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address-item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.address-link {
  line-height: 1.71;
}
.address-link.primary {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link.secondary {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link.primary:hover,
.address .address-link.primary:focus {
  color: #2196f3;
}
.address-link.secondary:hover,
.address-link.secondary:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .footer-social {
    margin-bottom: 60px;
  }
}
.footer-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
.footer-social-item {
  width: 44px;
  height: 44px;
}
.footer-social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #2196f3;
}
